<!DOCTYPE html>
<html>
    <head>
        <title>preprocessing output</title>
    </head>
    <body>
        <h3>The output after removing punctuation is:</h3>
        <p>{{o1}}</p>
        <h3>The output after stopword removal is:</h3>
        <p>{{o2}}</p>
        <h3>The output after lemmatization is:</h3>
        <p>{{o3}}</p>
        <h3>The output after label selective tagging is:</h3>
        <p>{{o4}}</p>
        <h3>The output after pos tagging is:</h3>
        <p>{{o5}}</p>
        <h3>The output after positional encoding is:</h3>
        <p>{{o6}}</p>
    </body>
</html>