<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Math Word Problem Solver</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
   
    <body class="bg-light">
        <div>
            <header class="d-flex justify-content-center py-3 fs-2 bg-body-secondary shadow-sm rounded-bottom">
                 Math Word Problem Solver    
            </header>
        </div>
        <div class="mx-auto" style="width: 750px; border-radius: 20px;">
            <form method="post" class="bg-body-secondary shadow-lg mx-auto mt-5 p-3" style="border-radius: 20px;">
                <div class ='form-group p-1'>
                    <label for="input" class="mt-2 mb-2">Enter Question:</label>
                    <textarea rows = 5 size="46px" class="form-control mb-3" id="input" name="input" style= "resize: none;">{{ input }}</textarea>
                    <input type='submit' value='submit' class="btn btn-primary">
                </div>
                <div class ='form-group p-1'>
                    <label for="ouput" class="mt-2 mb-2">Output:</label>
                    <textarea rows = 3 size="46px" class="form-control mb-3" id="ouput" style= "resize: none;" readonly>{{output}}</textarea>
                </div>
            </form>
            <span class="p-3" style="font-size: small; color:blue;"><a href="{{ url_for('api') }}">See preprocessing output</a></span>
        </div>
    </body>
</html>

